*,
::after,
::before {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

@font-face {
 font-family: lobster;
 src: url('./assets/fonts/LobsterTwo-BoldItalic.ttf');
}



:root {
  
 --grey: #243b53;
 --grey-900: #102a43;
 --black: #222;
 --white: #fff;
 --navy: #05386b;
 --navy-one: #1236c9;
 
 --transition: ease-in-out 0.3s;;
}


a {
 text-decoration: none;
 color: inherit;
 text-transform: capitalize;
}


.name {
 font-size: 48px;
 font-weight: 700;
 font-family: 'lobster';
 color: var(--navy);
}

.name :hover {
 color: chocolate;
}

.home-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 80vw;
}


.page-container {
 background: rgba(255, 255, 255, 0.75);
 margin-top: 1.5rem;
 color: white;
 min-height: 82vh;
}


.page-wrapper {
 height: 70vh;
  background-image: url('../src/assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  transition: var(--transition);
}
